# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


CMakeFiles/
*.o
*.P
*.s
CMakeCache.txt
.qmake.stash
build/
parallelcoind
parallelcoin-qt
qrc_bitcoin.cpp
src/.flatpak-builder
src/build-dir
src/parallelcoind
src/openssl-1.0.1u/**
test**
vendor/**

.DS_Store
node_modules
/dist
__sapper__
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
